@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  font-family: "Manrope", sans-serif;

}

:root {
  background-color: white;
  color: black;
}

[data-theme="dark"] {
  color: white;
  background-color: black;
}


.btn-primary{

  font-size: 18px;
  background-color: #15803D;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
  border: 1px solid #15803D;
  display:  flex ;
  justify-items:  center;
  align-items: center;
  justify-content: center;
  gap: 9px;

}
.btn-primary:hover{

  background-color: white;
  color: #15803D;

}
.btn-secondary{

  font-size: 18px;
  background-color: #fbd602;
  color: black;
  padding: 6px 12px;
  border-radius: 5px;
  border: 1px solid #fbd602;
  display:  flex ;
  justify-items:  center;
  align-items: center;
  justify-content: center;
  gap: 9px;

}
.btn-secondary:hover{

  background-color: white;

}

.text-primary{
  color: #15803D;
}
.text-secondary{
  color: #fbd602;
}